<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>P치gina Principal</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>P치gina Principal</h1>

      <div class="button-container">
        <!-- Bot칩n para navegar a la vista de clientes -->
        <button onclick="window.location.href='/clients'">Ver Clientes</button>

        <!-- Bot칩n para navegar a la vista de filtrar contratos -->
        <button onclick="window.location.href='/clients_contracts'">
          Filtrar Contratos
        </button>
      </div>
    </div>
  </body>
</html>
